.header {
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.list a {
    color: yellow;
}

.list a:hover {
    color: teal;
}

.list a:visited {
    color:teal;
}